{{ form_start(form) }}


<div class="row">
    <div class="form-group">
        <div class="col">{{ form_row(form.designation) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col">{{ form_row(form.fourniture) }}
        </div>
    </div>
    <div class="form-group">
        <div id="rythme" class="col">{{ form_row(form.rythme) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col">{{ form_row(form.faitle) }}
        </div>
    </div>
    <div class="form-group">
        <div id="echeance" class="col">{{ form_row(form.echeance) }}
        </div>
    </div>
</div>

<button class="btn btn-success">Valider vos modifications</button>
{{ form_end(form) }}
